body {
	background-color: white;
}
h1 {
	font-family: Arial, sans-serif;
	color: #336699;
}
#funButton {
	background-color: red;
	padding: 1em;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.italics {
	font-style: italic;
	color: green;
}